@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {
  --foreground-rgb: 0, 51, 25; /* Dark Green */
  /*--background-start-rgb: 204, 255, 229; /* Light Green */
  /*--background-end-rgb: 229, 255, 242; /* Very Light Green */
/*}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 204, 255, 229; /* Light Green */
    /*--background-start-rgb: 0, 51, 25; /* Dark Green */
    /*--background-end-rgb: 0, 51, 25; /* Dark Green */
  /*}
}

/*body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  margin: 0;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
*/


/* background */
 

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Set a lower z-index to move it behind other elements */
}

.main-content {
  /* Add styling for the main content container */
  position: relative;
  z-index: 1; /* Ensure it's above the background */
}


*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

/*407479*/
.area{
   background: #797240a8;  
   /* background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  */
    width: 100%;
    height:1000vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}





header {
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center; /* Center the header content */
}

nav {
  display: flex;
  justify-content: center; /* Center nav items */
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem; /* Space between items */
}

nav a {
  text-decoration: none;
  color: rgb(var(--foreground-rgb));
}







/* nav bar */

.horizontal-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #33354e; /* Adjusted color to be lighter */
  box-shadow: 0 2px 4px rgba(51, 53, 78, 0.255); /* Adjusted box-shadow */
  padding: 0 16px; /* Adjusted padding to be closer to the content */
}

.horizontal-nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.horizontal-nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  padding: 12px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  position: relative;
}

.horizontal-nav a:hover {
/*  background-color: #009577; */
  background-color: #38b6ff;

  box-shadow: rgba(0, 149, 119, 0.255);
}

/* Add a pseudo-element for an underline effect on hover */
.horizontal-nav a::before {
  content: '';
  position: absolute;
  width: calc(100% - 24px); /* Set width to match the width of the anchor element minus the padding */
  height: 3px;
  bottom: 0;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.horizontal-nav a:hover::before {
  transform: scaleX(1);
}
/*end nav bar */








/**************************    image to txt*******/

/* Center the main container and apply padding */
#ocrContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #1b1931; /*background-color: #f7f9fc;*/
  color: #333;
  font-family: 'Arial', sans-serif;
}

/* Heading style */
#heading {
  font-size: 24px;
  margin-bottom: 15px;
  color: #33354e;
  font-weight: 600;
  text-align: center;
}

/* Input field styling */
#imageUrlInput {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  font-size: 16px;
  color: #333;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

#imageUrlInput:focus {
  outline: none;
  border-color: #4a90e2;
}

/* Button styling */
#convertButton,
#downloadButton {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #4a90e2;
  transition: background-color 0.3s ease;
}

#convertButton:disabled {
  background-color: #9ab6e2;
  cursor: not-allowed;
}

#convertButton:hover:not(:disabled),
#downloadButton:hover {
  background-color: #357abd;
}

/* Error text styling */
#errorText {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
}

/* Text container styling */
#textContainer {
  width: 100%;
  margin-top: 20px;
}

/* Subheading style */
#editHeading,
#formatHeading {
  font-size: 18px;
  color: #333333;
  font-weight: 500;
  margin-bottom: 8px;
}

/* Textarea styling */
#textArea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  font-size: 14px;
  color: #333;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  resize: vertical;
  transition: border-color 0.3s ease;
}

#textArea:focus {
  outline: none;
  border-color: #4a90e2;
}

/* Format selection dropdown */
#formatSelect {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  color: #333;
  margin-right: 10px;
}

#formatContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
/**************************   endof  image to txt*******/




/* components/OcrTableManager float table ***/
/* globals.css */

#ocrContainer {
  text-align: center;
  margin-top: 20px;
}

.table-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

.table-wrapper {
  max-height: 400px;
  overflow: auto;
  border: 1px solid #ccc;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #ccc;
  padding: 4px;
  text-align: center;
  min-width: 100px;
}

input {
  width: 100%;
  border: none;
  text-align: center;
  background-color: #f9f9f9;
  outline: none;
}


/*************end of table **************/


/******************login/register********************/
/* globals.css */

/* General reset and font styling */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f7f8;
  color: #333;
  margin: 0;
}

/* Container styling for both Login and Register */
.container {
  margin: 20px auto;
  max-width: 1200px;
  width: 90%;
  text-align: center;
  padding: 40px 20px; /* Adjust padding for more space */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0; /* Grey background color */
  display: flex;
  flex-direction: column; /* Stack the form elements vertically */
  align-items: center;
}

/* Heading styling */
.container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

/* Form input styling */
.container form input[type="email"],
.container form input[type="password"] {
  width: 80%;
  max-width: 400px;
  padding: 12px;
  margin: 10px 0; /* Space between input fields */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.container form input[type="email"]:focus,
.container form input[type="password"]:focus {
  border-color: #0070f3;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 112, 243, 0.3);
}

/* Error message styling */
.container p {
  color: red;
  margin: 10px 0;
}

/* Button styling */
.container form button[type="submit"] {
  padding: 12px 20px;
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* Space between button and text fields */
  width: 80%; /* Ensure the button spans the same width as the inputs */
  max-width: 400px; /* Match button width with inputs */
}

.container form button[type="submit"]:hover {
  background-color: #005bb5;
}

/* Link styling */
.container p a {
  color: #0070f3;
  text-decoration: none;
  font-weight: bold;
}

.container p a:hover {
  text-decoration: underline;
}

/* Additional styling for mobile responsiveness */
@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  .container form input[type="email"],
  .container form input[type="password"] {
    width: 90%;
  }

  /* Ensure button width also adjusts for mobile */
  .container form button[type="submit"] {
    width: 90%;
  }
}



/******************login/register********************/
